Repository LivePreso/content-react-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --parser mdx --write, stylelint, eslint --fix

.lintstagedrc:

{
    "**/*.{js,json,css,md}": [
      "prettier --write"
    ],
    "**/*.mdx": [
      "prettier --parser mdx --write"
    ],
    "**/*.scss": [
      "prettier --write",
      "stylelint"
    ],
    "**/*.js": [
      "eslint --fix",
    ]
}

fix(table): change cell v-align to middle
  css/variables/components/_tables.scss
Due: prettier --write, stylelint

fix(font): remove style from bold/italic elements
  css/_default-styles.scss
Due: prettier --write, stylelint

feat(tables): allow controlling of all accordions at once
  components/ui/Table/Table.js
  components/ui/Table/TableBase.js
  components/ui/Table/rows/AccordionRow.js
  components/ui/Table/rows/AccordionRow.module.scss
Due: prettier --write, stylelint, eslint --fix

WIP - ToggleTable simplification
  components/ui/Table/TableBase.js
  components/ui/Table/ToggleTable.js
  components/ui/Table/ToggleTable.module.scss
  components/ui/Table/index.js
Due: prettier --write, stylelint, eslint --fix

refactor(accordionRow): add controller, split row by management
  components/ui/Table/AccordionController.js
  components/ui/Table/AccordionToggleAll.js
  components/ui/Table/AccordionToggleAll.module.scss
  components/ui/Table/Table.js
  components/ui/Table/TableBase.js
  components/ui/Table/index.js
  components/ui/Table/rows/AccordionRow.js
Due: prettier --write, stylelint, eslint --fix

refactor(accordionController): rename context
  components/ui/Table/AccordionController.js
  components/ui/Table/AccordionToggleAll.js
Due: prettier --write, eslint --fix

feat(accordionRows): address PR comments
  components/ui/Table/AccordionController.js
  components/ui/Table/AccordionToggleAll.js
  components/ui/Table/AccordionToggleAll.module.scss
  components/ui/Table/Table.js
  components/ui/Table/TableBase.js
  components/ui/Table/rows/AccordionRow.js
Due: prettier --write, stylelint, eslint --fix

feat(accordionRow): remove unnecessary prop deconstruction
  components/ui/Table/rows/AccordionRow.js
Due: prettier --write, eslint --fix

refactor(accordionToggle): use a global state and exceptions
  components/ui/Table/AccordionController.js
  components/ui/Table/AccordionToggleAll.js
  components/ui/Table/AccordionToggleAll.module.scss
  components/ui/Table/rows/AccordionRow.js
Due: prettier --write, stylelint, eslint --fix

fix(accordionToggles): some pdf mode fixes
  components/ui/Table/AccordionController.js
  components/ui/Table/rows/AccordionRow.js
Due: prettier --write, eslint --fix

feat(Accordion): make clickable in PM, cleaned up code
  components/ui/Table/AccordionController.js
  components/ui/Table/AccordionToggleAll.js
  components/ui/Table/index.js
  components/ui/Table/rows/AccordionRow.js
  components/ui/Table/use-accordion-controls.js
Due: prettier --write, eslint --fix

chore: Add AGENTs.md for working with a coding agent
  AGENTS.md
Due: prettier --write

chore(package): upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: Ignore coding agent support files until the team has agreed on which to use
  .gitignore
Due: none

feat(components): various cleanups to reduce errors
  components/ui/Tab.js
  components/ui/Table/Table.js
  components/ui/Table/rows/BodyRow.js
  components/ui/Tabs.js
Due: prettier --write, eslint --fix

chore(package): update core-js and amCharts4
  .eslintrc.js
  babel.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(claude): add CLAUDE.md, settings.json, modify gitignore
  .claude/settings.json
  .gitignore
  CLAUDE.md
  REFERENCE-full.md
  REFERENCE.md
Due: prettier --write

chore(claude): rename reference files to USAGE, add section to md
  CLAUDE.md
  USAGE-reference.md
  USAGE.md
Due: prettier --write

refactor(llms): replace USAGE files with llms.txt
  USAGE-reference.md
  USAGE.md
  llms.txt
Due: prettier --write

chore(llms): rename llms to llms-full, add new llms.txt package map
  llms-full.txt
  llms.txt
Due: none

feat(agents): Point CLAUDE.md at AGENTS.md - one to rule them all
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: prettier --write

fix(BaseChart): allow for overrides to chart object from instances
  components/charts/BaseChart.js
Due: prettier --write, eslint --fix

chore(pnpmLock): upgrade packages
  pnpm-lock.yaml
Due: none

fix(BaseChart): call passed in `onReady` function as well as slide ready
  components/charts/BaseChart.js
Due: prettier --write, eslint --fix

feat(Content): add optional fade-in animation
  components/slide/Content.js
  components/slide/Content.module.scss
  llms-full.txt
Due: prettier --write, stylelint, eslint --fix

feat(accordions): clean up accordion arrow styles
  components/ui/Table/rows/AccordionRow.module.scss
Due: prettier --write, stylelint

feat(AccordionRow): improve alignment of accordion button
  components/ui/Table/TableRow.js
  components/ui/Table/rows/AccordionRow.js
  components/ui/Table/rows/AccordionRow.module.scss
Due: prettier --write, stylelint, eslint --fix

feat(tab): use ManagedTextField for editable tab
  .nvmrc
  components/ui/Tab.js
  components/ui/Tab.module.scss
  package.json
  pnpm-lock.yaml
Due: prettier --write, stylelint, eslint --fix

fix(Table): set border colour same as cell BG when no borders required
  components/ui/Table/Table.module.scss
  components/ui/Table/TableCell.module.scss
  components/ui/Table/rows/HeaderRow.module.scss
  components/ui/Table/rows/HighlightRow.module.scss
  components/ui/Table/rows/OrderableRow.module.scss
  components/ui/Table/rows/SubheaderRow.module.scss
Due: prettier --write, stylelint

fix(table): give scroll container translateZ(0)
  components/ui/Table/Table.module.scss
Due: prettier --write, stylelint

chore(package): upgrade @livepreso packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(package): upgrade @livepreso/react-plugin-textfield
  package.json
  pnpm-lock.yaml
Due: prettier --write
