Repository LivePreso/content-react-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --parser mdx --write, stylelint, eslint --fix

feat(Button): expand styling options
  components/ui/Button/Button.js
  components/ui/Button/Button.module.scss
  css/variables/components/_button.scss
Due: prettier --write, stylelint, eslint --fix

feat(Modal): switch centering from side margins, to width variable
  components/ui/Modal.module.scss
  css/variables/components/_modal.scss
Due: prettier --write, stylelint

feat(EditableInput): add heading font family
  css/_style-mixins.scss
Due: prettier --write, stylelint

PR feedback
  components/ui/Button/Button.module.scss
  components/ui/Modal.module.scss
  css/variables/components/_modal.scss
Due: prettier --write, stylelint

feat(Dropdown): pass inputClassName down to the input field
  components/ui/Dropdown/Dropdown.js
Due: prettier --write, eslint --fix

feat(components): Add DatePicker
  components/ui/DatePicker.css
  components/ui/DatePicker.js
  components/ui/DatePicker.module.scss
  components/ui/index.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, stylelint, eslint --fix

format EditiableInput when in readonly mode
  components/ui/EditableInput.js
Due: prettier --write, eslint --fix

feat(styles): more styling flexibility
  components/ui/Checkbox/Checkbox.module.scss
  components/ui/DatePicker.module.scss
  components/ui/EditableInput.js
  components/ui/EditableInput.module.scss
  components/ui/Toggle/Toggle.module.scss
  css/variables/components/_checkbox.scss
  css/variables/components/_toggle.scss
Due: prettier --write, stylelint, eslint --fix

fix(Dropdown): do not blow up when there's null selected for multi-select
  components/ui/Dropdown/Dropdown.js
Due: prettier --write, eslint --fix

feat(editableInput): make tag styles less specific
  components/ui/EditableInput.module.scss
Due: prettier --write, stylelint

WIP - EditableTextArea
  components/editable-base-prop-types.js
  components/ui/EditableBase.js
  components/ui/EditableBase.module.scss
  components/ui/EditableInput.js
  components/ui/EditableInput.module.scss
  components/ui/EditableTextArea.js
  components/ui/EditableTextArea.module.scss
  components/ui/index.js
Due: prettier --write, stylelint, eslint --fix

feat(editableInput): declare tag classes at the bottom so they get preference
  components/ui/EditableInput.module.scss
Due: prettier --write, stylelint

feat(Dropdown): add disabled styles
  components/ui/Dropdown/items/DropdownItem.js
  components/ui/Dropdown/items/DropdownItem.module.scss
Due: prettier --write, stylelint, eslint --fix

feat(ExternalLink): add external link button
  components/ui/Button/Button.js
  components/ui/Button/ExternalLink.js
  components/ui/Button/ExternalLink.module.scss
  components/ui/Button/button-prop-types.js
  components/ui/Button/index.js
  components/ui/index.js
Due: prettier --write, stylelint, eslint --fix

feat(css): add letter spacing variables
  css/_style-mixins.scss
  css/base.scss
  css/variables/_typography.scss
Due: prettier --write, stylelint

feat(utils): improve isInvalidNumber test
  utils/data-formatting.js
Due: prettier --write, eslint --fix

feat(input): don't have shared opinions about font-family
  components/ui/EditableInput.module.scss
Due: prettier --write, stylelint

fix(Toggle): alignment of inactive switch
  components/ui/Toggle/Toggle.module.scss
Due: prettier --write, stylelint

imported EditableImage from JC, consolidated styles
  components/ui/EditableImage/EditableImage.js
  components/ui/EditableImage/EditableImage.module.scss
  components/ui/EditableImage/EditableImageGraphic.svg
  components/ui/EditableImage/index.js
  components/ui/index.js
  css/normalize/_import.scss
Due: prettier --write, stylelint, eslint --fix

added simple form component from JC
  components/forms/Form.js
  components/forms/Form.module.scss
  components/forms/FormField.js
  components/forms/FormField.module.scss
  components/forms/FormPrefixSuffix.js
  components/forms/connector-arrow.svg
  components/forms/constants.js
  components/forms/index.js
  components/index.js
Due: prettier --write, stylelint, eslint --fix

feat(Dropdown): add renderLabel optional prop
  components/ui/Dropdown/Dropdown.js
  components/ui/Dropdown/DropdownInputLabel.js
  components/ui/Dropdown/items/index.js
  components/ui/Dropdown/prop-types.js
Due: prettier --write, eslint --fix

fix (Dropdown) disabled => click disabled
  components/ui/Dropdown/Dropdown.js
  components/ui/Dropdown/Dropdown.module.scss
Due: prettier --write, stylelint, eslint --fix

feat(editable-image) add flag to diable prefixing with slideKey
  components/ui/EditableImage/EditableImage.js
Due: prettier --write, eslint --fix

fix(dropdownlabel) selected types can include number
  components/ui/Dropdown/DropdownInputLabel.js
Due: prettier --write, eslint --fix

WIP - orderable table, using useDraggable
  components/ui/Table/OrderableTable.js
  components/ui/Table/Table.js
  components/ui/Table/TableBase.js
  components/ui/Table/TableRow.js
  components/ui/Table/rows/BodyRow.js
  components/ui/Table/rows/OrderableRow.js
  package.json
  pnpm-lock.yaml
  utils/scale-modifier.js
Due: prettier --write, eslint --fix

WIP - using sortable instead
  components/ui/Table/OrderableTable.js
  components/ui/Table/rows/OrderableRow.js
Due: prettier --write, eslint --fix

feat(orderableTable): Add ordering to Table component
  components/ui/Table/OrderableTable.js
  components/ui/Table/Table.js
  components/ui/Table/Table.module.scss
  components/ui/Table/TableBase.js
  components/ui/Table/TableRow.js
  components/ui/Table/rows/AccordionRow.module.scss
  components/ui/Table/rows/BodyRow.js
  components/ui/Table/rows/OrderableRow.js
  components/ui/Table/rows/OrderableRow.module.scss
  css/variables/components/_tables.scss
  package.json
  pnpm-lock.yaml
  utils/scale-modifier.js
Due: prettier --write, stylelint, eslint --fix

feat(hooks): add content dimenions hook to drag and drop scaling modifier
  components/ui/Table/OrderableTable.js
  components/ui/Table/rows/OrderableRow.module.scss
  hooks/use-content-dimensions.js
  package.json
  pnpm-lock.yaml
  utils/content-utils.js
  utils/scale-modifier.js
Due: prettier --write, stylelint, eslint --fix

fix(TableRow): prevent PDF pagination dataAttrs being overridden
  components/ui/Table/TableRow.js
Due: prettier --write, eslint --fix

feat(DatePicker): Create CSS variables for styling font
  components/ui/DatePicker.module.scss
  css/variables/components/_date-picker.scss
  css/variables/components/_import.scss
Due: prettier --write, stylelint

feat(OrderableTable): add drag handle, improve code
  components/ui/Table/OrderableTable.js
  components/ui/Table/Table.module.scss
  components/ui/Table/TableBase.js
  components/ui/Table/TableDragHandle.js
  components/ui/Table/TableDragHandle.module.scss
  components/ui/Table/TableRow.js
  components/ui/Table/index.js
  components/ui/Table/rows/OrderableRow.js
  components/ui/Table/rows/index.js
Due: prettier --write, stylelint, eslint --fix

WIP - Dropdown, fixed position options to get around scrollable tables
  components/ui/Dropdown/Dropdown.js
  components/ui/Dropdown/Dropdown.module.scss
Due: prettier --write, stylelint, eslint --fix

feat(tables) allowed decks to pass components for rows, cells
  components/ui/Table/Table.js
  components/ui/Table/TableBase.js
  components/ui/Table/rows/AccordionRow.js
Due: prettier --write, eslint --fix

feat(tables) better accordion handler
  components/ui/Table/rows/AccordionRow.js
  components/ui/Table/rows/BodyRow.js
Due: prettier --write, eslint --fix

feat(Dropdown): send options into an overlay layer
  components/slide/SlideWrapper.js
  components/slide/SlideWrapper.module.scss
  components/slide/index.js
  components/ui/Dropdown/Dropdown.js
  components/ui/Dropdown/Dropdown.module.scss
  components/ui/Dropdown/DropdownInputLabel.js
  components/ui/Dropdown/items/BasicDropdownItem.js
  components/ui/UIOverlayPortal.js
  contexts/branding.js
  contexts/index.js
  contexts/slide-overlay-ref.js
  css/_default-styles.scss
  css/base.scss
  index.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, stylelint, eslint --fix

feat(DatePicker): add ability to remove date
  components/ui/Button/Button.js
  components/ui/Button/Button.module.scss
  components/ui/DatePicker.js
  components/ui/DatePicker.module.scss
  css/variables/components/_button.scss
Due: prettier --write, stylelint, eslint --fix

fix(Dropdown): correct import of UIOverlayPortal
  components/ui/Dropdown/Dropdown.js
Due: prettier --write, eslint --fix

fix(UiOverlayPortal): add data-companywide-interactive
  components/slide/SlideWrapper.js
  components/slide/SlideWrapper.module.scss
Due: prettier --write, stylelint, eslint --fix

fix(uiOverlayPortal): pointer-events initial in content
  components/slide/SlideWrapper.js
  components/slide/SlideWrapper.module.scss
Due: prettier --write, stylelint, eslint --fix

fix(Table): prevent unwanted styles flowing through to nested editable tables
  components/ui/Table/Table.module.scss
  components/ui/Table/TableBase.js
Due: prettier --write, stylelint, eslint --fix

Path conditions:
  prettier --write: (any of: **/*.{js,json,css,md}) or (any of: **/*.scss)
  prettier --parser mdx --write: any of: **/*.mdx
  stylelint: any of: **/*.scss
  eslint --fix: any of: **/*.js
