Repository LivePreso/content-react-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --parser mdx --write, stylelint, eslint --fix

.lintstagedrc:

{
    "**/*.{js,json,css,md}": [
      "prettier --write"
    ],
    "**/*.mdx": [
      "prettier --parser mdx --write"
    ],
    "**/*.scss": [
      "prettier --write",
      "stylelint"
    ],
    "**/*.js": [
      "eslint --fix",
    ]
}

feat(editableText): add prepId
  components/ui/EditableText.js
  components/ui/Table/cells/EditableTextCell.js
Due: prettier --write, eslint --fix

fix(EditableText): stop propagation of click event on editable text
  components/ui/EditableText.js
Due: prettier --write, eslint --fix

feat(EditableText): optional stop propagation prop
  components/ui/EditableText.js
  components/ui/Table/cells/EditableTextCell.js
Due: prettier --write, eslint --fix

fix(Toggle): calculate transform switch position using variables
  components/ui/Toggle/Toggle.module.scss
  css/variables/components/_toggle.scss
Due: prettier --write, stylelint

feat(AccordionRow): playing with React animation options
  components/ui/Table/rows/AccordionRow.js
  components/ui/Table/rows/AccordionRow.module.scss
  package.json
  pnpm-lock.yaml
Due: prettier --write, stylelint, eslint --fix

feat(toggle): allow nodes to be supplied for label
  components/ui/Toggle/Toggle.js
Due: prettier --write, eslint --fix

feat(Toggle): center icon in switch
  components/ui/Toggle/Toggle.module.scss
Due: prettier --write, stylelint

feat(charts): add chartFunction for overrides
  components/charts/BaseChart.js
  components/charts/CategoryChart.js
  components/charts/DateChart.js
  components/charts/PieChart.js
  components/charts/QuadrantChart.js
  components/charts/ValueChart.js
Due: prettier --write, eslint --fix

feat(charts): add enableAnimation prop
  components/charts/BaseChart.js
  components/charts/CategoryChart.js
  components/charts/DateChart.js
  components/charts/PieChart.js
  components/charts/QuadrantChart.js
  components/charts/ValueChart.js
  components/charts/utils/pie-chart-utils.js
Due: prettier --write, eslint --fix

feat(Flex): add width and height style options
  components/layout/Flex.js
Due: prettier --write, eslint --fix

feat(Tab): pass in children
  components/ui/Tab.js
Due: prettier --write, eslint --fix

fix(tabs): various style and props fixes
  components/ui/Tab.js
  components/ui/Tab.module.scss
  components/ui/Tabs.js
  css/variables/components/_tabs.scss
Due: prettier --write, stylelint, eslint --fix

feat(xychart) added year granularity
  components/charts/utils/xy-chart-utils.js
Due: prettier --write, eslint --fix

feat(xyChart): add 'year' to granularity propTypes
  components/charts/utils/xy-chart-utils.js
Due: prettier --write, eslint --fix

fix(Dropdown): dropdown visibility should be determined by the dev
  components/ui/Dropdown/Dropdown.js
Due: prettier --write, eslint --fix

feat(Dropdown): cleanup hiding of arrow in readonly mode
  components/ui/Dropdown/Dropdown.js
  components/ui/Dropdown/Dropdown.module.scss
Due: prettier --write, stylelint, eslint --fix

WIP - add onReady to charts
  components/charts/BaseChart.js
  components/charts/CategoryChart.js
  components/charts/DateChart.js
  components/charts/QuadrantChart.js
  components/charts/ValueChart.js
  components/charts/utils/xy-chart-utils.js
Due: prettier --write, eslint --fix

implemented resize-to-fit iteration
  components/ui/Dropdown/Dropdown.js
Due: prettier --write, eslint --fix

filled out all index.js files
  components/charts/index.js
  components/design/index.js
  components/index.js
  components/layout/index.js
  components/misc/index.js
  components/text/index.js
  components/ui/index.js
  index.js
Due: prettier --write, eslint --fix

replaced errant @livepreso reference with relative path
  components/ui/Table/cells/EditableTextCell.js
Due: prettier --write, eslint --fix

converted all @ui paths to relative
  components/charts/CategoryChart.js
  components/charts/DateChart.js
  components/charts/PieChart.js
  components/charts/QuadrantChart.js
  components/charts/ValueChart.js
  components/slide-types/SectionHeader.js
  components/slide-types/SectionHeader.stories.js
  components/slide/Content.js
  components/slide/Footer.js
  components/slide/Header.js
  components/slide/Slide/Slide.stories.js
  components/stats/BigStat.js
  components/stats/DeltaValue.js
  components/stats/DeltaValue.stories.js
  components/stats/DeltaValueBubble/DeltaValueBubble.js
  components/stats/MetricItem/MetricItem.js
  components/text/MiddleEllipsisText.js
  components/text/MiddleEllipsisText.stories.js
  components/ui/Button/Button.stories.js
  components/ui/ChartFooterMessage.module.scss
  components/ui/Checkbox/Checkbox.js
  components/ui/Dropdown/Dropdown.js
  components/ui/Dropdown/Dropdown.stories.js
  components/ui/EditableInput.module.scss
  components/ui/Table/Table.js
  components/ui/Table/cells/ButtonsCell.js
  components/ui/Table/cells/DefinitionListCell.js
  components/ui/Table/cells/DeltaCell.js
  components/ui/Table/cells/LegendCell.js
  components/ui/Table/cells/ToggleCell.js
  components/ui/Tabs.js
  components/ui/Toggle/Toggle.js
  hooks/use-navigation.js
Due: prettier --write, stylelint, eslint --fix

fixed package.json, simplified stats
  .eslintrc.js
  components/stats/DeltaValueBubble.js
  components/stats/DeltaValueBubble.module.scss
  components/stats/DeltaValueBubble/index.js
  components/stats/MetricItem.js
  components/stats/MetricItem.module.scss
  components/stats/MetricItem/index.js
  package.json
Due: prettier --write, stylelint, eslint --fix

upgraded dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

.vscode .gitignore cleanup
  .gitignore
  .vscode/settings.json
Due: prettier --write

chore(package.json): upgrade content-react to 1.0.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(EditableText): read only mode render plain HTML
  components/ui/EditableText/EditableText.js
  components/ui/EditableText/EditableText.module.scss
  components/ui/EditableText/EditableText.stories.js
  components/ui/EditableText/EditableTextReadonly.js
  components/ui/EditableText/constants.js
  components/ui/EditableText/index.js
  components/ui/EditableText/utils.js
  hooks/index.js
  hooks/use-show-prep-editable.js
  hooks/use-slide-key-prefix.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, stylelint, eslint --fix

feat(typography) added unique heading font family, weights
  css/base.scss
  css/variables/_typography.scss
Due: prettier --write, stylelint

fix(percentify): parse input as number after checking if valid
  utils/data-formatting.js
Due: prettier --write, eslint --fix

fix(percentify): incorrect variable usage
  utils/data-formatting.js
Due: prettier --write, eslint --fix

fix(typography) inline elements in h tags inherit font
  css/base.scss
Due: prettier --write, stylelint

fix(Flex): allow classes to be passed, fixed layout problems
  components/layout/Flex.js
  components/layout/Flex.module.scss
  components/layout/FlexGroup.module.scss
Due: prettier --write, stylelint, eslint --fix

add empty array as default for toolbar when destructuring props
  components/ui/EditableText/index.js
Due: prettier --write, eslint --fix

feat(dropdown): selected option uses middle ellipsis truncation
  components/text/MiddleEllipsisText.module.scss
  components/ui/Dropdown/Dropdown.js
Due: prettier --write, stylelint, eslint --fix

feat(Tabs): Add more styling options
  components/ui/Tab.module.scss
  components/ui/Table/Table.module.scss
  components/ui/Tabs.js
  css/variables/components/_button.scss
  css/variables/components/_tabs.scss
Due: prettier --write, stylelint, eslint --fix

feat(row): add justify-space-between
  components/layout/FlexGroup.js
  components/layout/FlexGroup.module.scss
  components/layout/Row.js
Due: prettier --write, stylelint, eslint --fix

Revert "feat(row): add justify-space-between"
  components/layout/FlexGroup.js
  components/layout/FlexGroup.module.scss
  components/layout/Row.js
Due: prettier --write, stylelint, eslint --fix

feat(Dropdown): add multi select and expand styling options
  components/ui/Dropdown/Dropdown.js
  components/ui/Dropdown/Dropdown.module.scss
  components/ui/Dropdown/items/CheckboxDropdownItem.js
  css/variables/components/_dropdown.scss
Due: prettier --write, stylelint, eslint --fix

feat(Grid): expand Row and Column gap options
  components/layout/Column.js
  components/layout/Column.module.scss
  components/layout/FlexGroup.js
  components/layout/Row.js
  components/layout/Row.module.scss
  css/variables/components/_grid.scss
Due: prettier --write, stylelint, eslint --fix

feat(EditableInput): Add more props
  components/ui/EditableInput.js
  components/ui/EditableInput.module.scss
Due: prettier --write, stylelint, eslint --fix
