Repository LivePreso/content-react-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --parser mdx --write, stylelint, eslint --fix

.lintstagedrc:

{
    "**/*.{js,json,css,md}": [
      "prettier --write"
    ],
    "**/*.mdx": [
      "prettier --parser mdx --write"
    ],
    "**/*.scss": [
      "prettier --write",
      "stylelint"
    ],
    "**/*.js": [
      "eslint --fix",
    ]
}

feat(checkbox): refine classes
  components/ui/Checkbox/Checkbox.module.scss
  css/variables/components/_checkbox.scss
Due: prettier --write, stylelint

feat(LoadingSpinner): provide more control when sizing and aligning
  components/layout/Column.js
  components/layout/Column.module.scss
  components/layout/Row.js
  components/layout/Row.module.scss
  components/ui/LoadingSpinner.js
  components/ui/LoadingSpinner.module.scss
Due: prettier --write, stylelint, eslint --fix

feat(Dropdown): create ToggleDropdownItem and BasicDropdownItem
  components/ui/Dropdown/Dropdown.js
  components/ui/Dropdown/Dropdown.module.scss
  components/ui/Dropdown/Dropdown.stories.js
  components/ui/Dropdown/index.js
  components/ui/Dropdown/items/BasicDropdownItem.js
  components/ui/Dropdown/items/BasicDropdownItem.module.scss
  components/ui/Dropdown/items/BasicDropdownItem.stories.js
  components/ui/Dropdown/items/DropdownItem.js
  components/ui/Dropdown/items/DropdownItem.module.scss
  components/ui/Dropdown/items/ToggleDropdownItem.js
  components/ui/Dropdown/items/ToggleDropdownItem.stories.js
  components/ui/Dropdown/items/index.js
  components/ui/DropdownItem.stories.js
  components/ui/Toggle/Toggle.js
  components/ui/Toggle/Toggle.module.scss
  css/variables/components/_dropdown.scss
  css/variables/components/_toggle.scss
Due: prettier --write, stylelint, eslint --fix

WIP - update with new content-react library updates
  components/charts/BaseChart.js
  components/charts/CategoryChart.js
  components/charts/DateChart.js
  components/charts/PieChart.js
  components/charts/QuadrantChart.js
  components/charts/ValueChart.js
  components/charts/utils/pie-chart-utils.js
  components/charts/utils/xy-chart-utils.js
  components/ui/ContextEditableInput.js
  hooks/use-preso-created-date.js
Due: prettier --write, eslint --fix

feat(ToggleCheckbox): improve hitareas
  components/ui/Checkbox/Checkbox.module.scss
  components/ui/Toggle/Toggle.module.scss
Due: prettier --write, stylelint

feat(ui): PR feedback
  .eslintrc.js
  components/charts/BaseChart.js
  components/charts/utils/pie-chart-utils.js
  components/charts/utils/xy-chart-utils.js
  components/text/MiddleEllipsisText.js
  components/ui/Button/Button.js
  components/ui/Dropdown/Dropdown.js
  components/ui/Dropdown/items/DropdownItem.js
  components/ui/Dropdown/items/ToggleDropdownItem.js
  components/ui/LoadingSpinner.js
  components/ui/Modal.js
  components/ui/Table/Table.js
  components/ui/Table/Table.stories.js
  components/ui/Table/cells/DefinitionListCell.js
  components/ui/Table/utils.js
  components/ui/Toggle/Toggle.module.scss
  css/normalize/_import.scss
  css/variables/components/_toggle.scss
  utils/data-formatting.js
Due: prettier --write, stylelint, eslint --fix

feat(Modal): apply cursor pointer to shroud when given onClose
  components/ui/Modal.js
  components/ui/Modal.module.scss
Due: prettier --write, stylelint, eslint --fix

feat(Modal): clean up onClose function test in render
  components/ui/Modal.js
Due: prettier --write, eslint --fix

fix(Table): give unique keys to empty table cells
  components/ui/Table/Table.js
Due: prettier --write, eslint --fix

feat(pie): disable pullout when no tooltips
  components/charts/utils/pie-chart-utils.js
Due: prettier --write, eslint --fix

feat(Table): add AccordionRow component
  components/design/Arrow.js
  components/slide-types/SectionHeader.js
  components/slide/Slide/Slide.js
  components/ui/EditableInput.js
  components/ui/Tab.stories.js
  components/ui/Table/Row.js
  components/ui/Table/Table.js
  components/ui/Table/Table.stories.js
  components/ui/Table/rows/AccordionRow.js
  components/ui/Table/rows/AccordionRow.module.scss
  components/ui/Table/rows/BodyRow.js
  components/ui/Table/rows/HeaderRow.js
  components/ui/Table/rows/HighlightRow.js
  components/ui/Table/rows/SubheaderRow.js
  components/ui/Table/rows/index.js
  components/ui/Table/table-variables.js
  components/ui/Tabs.stories.js
Due: prettier --write, stylelint, eslint --fix

feat(content): add margin styles
  components/slide/Content.module.scss
  css/variables/components/_content.scss
Due: prettier --write, stylelint

feat(Table): Incorporate accordions with Table schema
  components/ui/Table/Row.js
  components/ui/Table/Table.js
  components/ui/Table/Table.stories.js
  components/ui/Table/index.js
  components/ui/Table/rows/AccordionRow.js
  components/ui/Table/rows/AccordionRow.module.scss
  components/ui/Table/rows/HeaderRow.js
  components/ui/Table/rows/HeaderRow.module.scss
  components/ui/Table/rows/HighlightRow.js
  components/ui/Table/rows/HighlightRow.module.scss
  components/ui/Table/rows/SubheaderRow.js
  components/ui/Table/rows/SubheaderRow.module.scss
  components/ui/Table/rows/index.js
  components/ui/Table/table-constants.js
  components/ui/Table/table-type-maps.js
  components/ui/Table/table-variables.js
  css/variables/components/_tables.scss
Due: prettier --write, stylelint, eslint --fix

feat(Table): tidy up Accordion generation logic
  components/ui/Table/Table.js
  components/ui/Table/Table.stories.js
  components/ui/Table/rows/AccordionRow.js
  components/ui/Table/rows/HeaderRow.module.scss
Due: prettier --write, stylelint, eslint --fix

feat(TableRows): clean up styles after PR review
  components/ui/Table/Table.js
  components/ui/Table/rows/HeaderRow.js
  components/ui/Table/rows/HeaderRow.module.scss
  components/ui/Table/rows/HighlightRow.js
  components/ui/Table/rows/HighlightRow.module.scss
  components/ui/Table/rows/SubheaderRow.js
  components/ui/Table/rows/SubheaderRow.module.scss
Due: prettier --write, stylelint, eslint --fix

refactor(AccordionRow): move majority of accordion logic out of Row
  components/ui/Table/Row.js
  components/ui/Table/Table.js
  components/ui/Table/rows/AccordionRow.js
  components/ui/Table/rows/HeaderRow.js
  components/ui/Table/rows/HighlightRow.js
  components/ui/Table/rows/SubheaderRow.js
  components/utils.js
Due: prettier --write, eslint --fix

fix(tabs): pass thru className and fix default font weight
  components/ui/Tabs.js
  css/variables/components/_tabs.scss
Due: prettier --write, stylelint, eslint --fix

feat(table): default cell is now just Cell
  components/ui/Table/Table.stories.js
  components/ui/Table/table-type-maps.js
Due: prettier --write, eslint --fix

fix(table): story uses correct default cell key
  components/ui/Table/Table.stories.js
Due: prettier --write, eslint --fix

feat(dataFormatting): add 'policy' to unique plurals list
  utils/data-formatting.js
Due: prettier --write, eslint --fix

feat(icons): add ArrowUpIcon
  components/icons/ArrowRightIcon/ArrowRightIcon.js
  components/icons/ArrowUpIcon/ArrowUpIcon.js
  components/icons/ArrowUpIcon/ArrowUpIcon.module.scss
  components/icons/ArrowUpIcon/index.js
  components/icons/index.js
Due: prettier --write, stylelint, eslint --fix

feat(AccordionRow): make clickable in preso manager
  components/ui/Table/rows/AccordionRow.js
Due: prettier --write, eslint --fix

comments(dataFormatting): Add comment to replace unique plurals with a library
  utils/data-formatting.js
Due: prettier --write, eslint --fix

fix(ScrollableArea): Make more versatile, add flex, width & height options
  components/layout/FlexGroup.module.scss
  components/slide/Content.js
  components/ui/ScrollableArea.js
  components/ui/ScrollableArea.module.scss
Due: prettier --write, stylelint, eslint --fix

fix(Slide): add flex=1 to counter removal of flex 1 from FlexGroup
  components/slide/Slide/Slide.js
  components/ui/EditableText.js
Due: prettier --write, eslint --fix

feat(Tab): give option for editable tab text
  components/ui/Tab.js
  components/ui/Tabs.js
Due: prettier --write, eslint --fix

feat(table): allow accordion header and parent data attributes to be set manually
  components/ui/Table/Table.js
  components/ui/Table/rows/AccordionRow.js
Due: prettier --write, eslint --fix

feat(formatting): percentify allows min/max decimals to be specified
  utils/data-formatting.js
Due: prettier --write, eslint --fix

feat(formatting): normalise default number formatting options
  utils/data-formatting.js
Due: prettier --write, eslint --fix

feat(checkbox): add labelClassName prop
  components/ui/Checkbox/Checkbox.js
Due: prettier --write, eslint --fix

feat(checkbox): Add label color css variables
  components/ui/Checkbox/Checkbox.module.scss
  css/variables/components/_checkbox.scss
Due: prettier --write, stylelint

feat(checkbox): box icon is default aligned top
  components/ui/Checkbox/Checkbox.js
  components/ui/Checkbox/Checkbox.module.scss
Due: prettier --write, stylelint, eslint --fix

feat(checkbox): use lineheight for checkbox positioning
  components/ui/Checkbox/Checkbox.module.scss
Due: prettier --write, stylelint

fix(checkbox): icon checkmark is centered in box
  components/ui/Checkbox/Checkbox.module.scss
Due: prettier --write, stylelint

fix(dropdown): ignore click events when readonly is true
  components/ui/Dropdown/Dropdown.js
  components/ui/Dropdown/Dropdown.module.scss
Due: prettier --write, stylelint, eslint --fix

refactor(formatting): simplify capitalise function
  utils/data-formatting.js
Due: prettier --write, eslint --fix

feat(dataFormatting): simplify slugify function so is no logner a factory
  utils/data-formatting.js
Due: prettier --write, eslint --fix

WIP - finish this work when back on strategy recommendations
  components/ui/EditableText.js
  components/ui/ScrollableArea.js
  components/ui/Table/Table.js
  components/ui/Table/cells/EditableTextCell.js
Due: prettier --write, eslint --fix

fix(EditableText): remove 'align' from non-block element toolbar options
  components/ui/EditableText.js
Due: prettier --write, eslint --fix

feat(scrollableArea): add isPresoManagerInteractive prop
  components/ui/ScrollableArea.js
Due: prettier --write, eslint --fix
