Repository LivePreso/content-react-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --parser mdx --write, stylelint, eslint --fix

feat(components): merge table config and standard table
  .storybook/project/templates/.empty
  components/slide-types/SectionHeader.js
  components/stats/BigStat.js
  components/stats/MetricItem/MetricItem.js
  components/tables/cells/index.js
  components/tables/index.js
  components/ui/Modal.js
  components/ui/Modal.module.scss
  components/ui/Table.js
  components/ui/Table.stories.js
  components/ui/Table/Cell.js
  components/ui/Table/Row.js
  components/ui/Table/Table.js
  components/ui/Table/Table.module.scss
  components/ui/Table/Table.stories.js
  components/ui/Table/cells/ButtonsCell.js
  components/ui/Table/cells/ButtonsCell.module.scss
  components/ui/Table/cells/DeltaCell.js
  components/ui/Table/cells/EditableTextCell.js
  components/ui/Table/cells/ImageCell.js
  components/ui/Table/cells/ImageCell.module.scss
  components/ui/Table/cells/ScoreCell.js
  components/ui/Table/cells/ScoreCell.module.scss
  components/ui/Table/cells/SubTitleCell.js
  components/ui/Table/cells/TextCell.js
  components/ui/Table/cells/ToggleCell.js
  components/ui/Table/cells/index.js
  components/ui/Table/index.js
  components/ui/Table/rows/BodyRow.js
  components/ui/Table/rows/HeaderRow.js
  components/ui/Table/rows/HeaderRow.module.scss
  components/ui/Table/rows/HighlightRow.js
  components/ui/Table/rows/HighlightRow.module.scss
  components/ui/Table/rows/SubheaderRow.js
  components/ui/Table/rows/SubheaderRow.module.scss
  components/ui/Table/rows/index.js
  components/ui/Table/table-constants.js
  components/ui/Table/table-utils.js
Due: prettier --write, stylelint, eslint --fix

feat(charts): add basic pie chart
  components/charts/BaseChart.js
  components/charts/CategoryChart.js
  components/charts/DateChart.js
  components/charts/PieChart.js
  components/charts/PieChart.stories.js
  components/charts/QuadrantChart.js
  components/charts/utils/pie-chart-utils.js
  components/charts/utils/xy-chart-utils.js
  components/ui/Table/Table.module.scss
  css/_base.scss
  css/core.scss
  css/variables/base/components/_content.scss
  css/variables/base/components/_import.scss
  hooks/use-chart-theme.js
Due: prettier --write, stylelint, eslint --fix

feat(css): remove 'base' nesting, copy docs from existing storybook
  .storybook/main.js
  components/charts/PieChart.stories.js
  components/ui/Table/index.js
  css/base.scss
  css/variables/_borders.scss
  css/variables/_colors.scss
  css/variables/_import.scss
  css/variables/_measurements.scss
  css/variables/_typography.scss
  css/variables/components/_block.scss
  css/variables/components/_button.scss
  css/variables/components/_content.scss
  css/variables/components/_dropdown.scss
  css/variables/components/_footer.scss
  css/variables/components/_grid.scss
  css/variables/components/_header.scss
  css/variables/components/_import.scss
  css/variables/components/_section-slide.scss
  css/variables/components/_slide.scss
  css/variables/components/_tables.scss
  css/variables/components/_tabs.scss
  css/variables/components/_toggle.scss
  docs/CssVariables.js
  docs/borders.mdx
  docs/colors.mdx
  docs/deckTheming.mdx
  docs/typography.mdx
Due: prettier --write, prettier --parser mdx --write, stylelint, eslint --fix

refactor(table): allow use as components and schema
  components/ui/Table/Cell.js
  components/ui/Table/Cell.module.scss
  components/ui/Table/Table.js
  components/ui/Table/Table.module.scss
  components/ui/Table/Table.stories.js
  components/ui/Table/cells/TitleCell.js
  components/ui/Table/cells/TitleCell.module.scss
  components/ui/Table/cells/index.js
  components/ui/Table/rows/BodyRow.js
  components/ui/Table/rows/HeaderRow.js
  components/ui/Table/rows/HeaderRow.module.scss
  components/ui/Table/rows/HighlightRow.js
  components/ui/Table/rows/HighlightRow.module.scss
  components/ui/Table/rows/SubheaderRow.js
  components/ui/Table/rows/SubheaderRow.module.scss
  components/ui/Table/table-constants.js
  css/base.scss
  css/variables/_colors.scss
  css/variables/components/_tables.scss
  utils/generate-table-layout.js
Due: prettier --write, stylelint, eslint --fix

refactor(Table): simplify row generation
  components/ui/Table/Table.js
  components/ui/Table/Table.stories.js
  components/ui/Table/table-constants.js
Due: prettier --write, eslint --fix

refactor(text): move sample text from misc to text directory
  components/misc/Errors.js
  components/misc/Errors.module.scss
  components/misc/Errors/index.js
  components/misc/SampleEditableText/index.js
  components/misc/SampleParagraph/index.js
  components/text/SampleEditableText.js
  components/text/SampleParagraph.js
Due: prettier --write, stylelint, eslint --fix

feat(text): create MiddleEllipsis and Nbsp components
  components/text/MiddleEllipsisText.js
  components/text/MiddleEllipsisText.module.scss
  components/text/MiddleEllipsisText.stories.js
  components/text/Nbsp.js
Due: prettier --write, stylelint, eslint --fix

fix(chartsTables): correct PropTypes.oneOfType where required
  components/charts/BaseChart.js
  components/charts/utils/pie-chart-utils.js
  components/ui/Table/Table.js
Due: prettier --write, eslint --fix

feat(tableCells): Add LegendCell
  components/ui/Table/cells/LegendCell.js
  components/ui/Table/cells/LegendCell.module.scss
  components/ui/Table/cells/index.js
  components/ui/Table/table-constants.js
  css/variables/components/_tables.scss
Due: prettier --write, stylelint, eslint --fix

feat(tables): add more specificity to header styles
  components/ui/Table/cells/EditableTextCell.js
  components/ui/Table/rows/HeaderRow.module.scss
  components/ui/Table/rows/HighlightRow.module.scss
  components/ui/Table/rows/SubheaderRow.module.scss
  css/variables/_colors.scss
  css/variables/components/_grid.scss
  css/variables/components/_tables.scss
Due: prettier --write, stylelint, eslint --fix

feat(charts): add ability to opt-in for cursor and legend
  components/charts/CategoryChart.js
  components/charts/DateChart.js
  components/charts/QuadrantChart.js
  components/charts/ValueChart.js
  components/charts/utils/xy-chart-utils.js
Due: prettier --write, eslint --fix

feat(Table): tidy up text cell
  components/ui/Table/cells/LegendCell.module.scss
  components/ui/Table/cells/TextCell.js
Due: prettier --write, stylelint, eslint --fix

feat(dataFormatting): add case formatting
  utils/data-formatting.js
Due: prettier --write, eslint --fix

feat(UI): add basic modal component
  components/ui/Modal.js
  components/ui/Modal.module.scss
  css/variables/components/_import.scss
  css/variables/components/_modal.scss
Due: prettier --write, stylelint, eslint --fix

feat(icons): add default icon color to CSS variables
  components/icons/ArrowRightIcon/ArrowRightIcon.js
  components/icons/ArrowRightIcon/ArrowRightIcon.module.scss
  components/icons/ArrowRightIcon/index.js
  components/icons/CalendarIcon/CalendarIcon.module.scss
  components/icons/CheckMarkIcon/CheckMarkIcon.module.scss
  components/icons/ChevronDownIcon/ChevronDownIcon.module.scss
  components/icons/ChevronUpIcon/ChevronUpIcon.module.scss
  components/icons/CloseIcon/CloseIcon.js
  components/icons/CloseIcon/CloseIcon.module.scss
  components/icons/CloseIcon/index.js
  components/icons/index.js
  css/variables/components/_icon.scss
  css/variables/components/_import.scss
Due: prettier --write, stylelint, eslint --fix

fix(charts): correct prop types for width and height
  components/charts/utils/xy-chart-utils.js
Due: prettier --write, eslint --fix

fix(Modal): sit above content
  components/ui/Modal.module.scss
Due: prettier --write, stylelint

feat(dataFormatting): Add slugify formatter for strings
  utils/data-formatting.js
Due: prettier --write, eslint --fix

feat(CSSVariables): add text constrast colour (contrast to brand color)
  css/variables/_colors.scss
Due: prettier --write, stylelint

feat(button): Clean up styles, add more variations
  components/ui/Button/Button.js
  components/ui/Button/Button.module.scss
  components/ui/Table/cells/ButtonsCell.js
  components/ui/Table/cells/ButtonsCell.module.scss
  css/variables/components/_button.scss
Due: prettier --write, stylelint, eslint --fix

feat(modal): add CSS variables for styling
  components/ui/Modal.module.scss
  css/variables/components/_modal.scss
Due: prettier --write, stylelint

feat(components): Add scrollableArea component
  components/ui/ScrollableArea.js
  components/ui/ScrollableArea.module.scss
  components/ui/index.js
Due: prettier --write, stylelint, eslint --fix

feat(button): add separate text variation styles
  components/ui/Button/Button.module.scss
  css/variables/components/_button.scss
Due: prettier --write, stylelint

feat(charts): Apply colours when initialising a chart
  components/charts/CategoryChart.js
  components/charts/DateChart.js
  components/charts/PieChart.js
  components/charts/QuadrantChart.js
  components/charts/ValueChart.js
  components/charts/utils/pie-chart-utils.js
  components/charts/utils/xy-chart-utils.js
Due: prettier --write, eslint --fix

feat(dataFormatting): add pretty number format
  utils/data-formatting.js
Due: prettier --write, eslint --fix

feat(button): give more styling options for text button colours
  components/ui/Button/Button.module.scss
  css/variables/components/_button.scss
Due: prettier --write, stylelint

feat(charts): pass through className, add label
  components/charts/BaseChart.js
  components/charts/CategoryChart.js
  components/charts/DateChart.js
  components/charts/PieChart.js
  components/charts/QuadrantChart.js
  components/charts/ValueChart.js
  components/charts/utils/pie-chart-utils.js
  components/charts/utils/xy-chart-utils.js
Due: prettier --write, eslint --fix

fix(baseCSS): apply default text colour to slide article
  css/base.scss
Due: prettier --write, stylelint

feat(LoadingSpinner): add width and height props
  components/ui/LoadingSpinner.js
  components/ui/LoadingSpinner.module.scss
Due: prettier --write, stylelint, eslint --fix

fix(charts): tidy up prop types
  components/charts/utils/pie-chart-utils.js
  components/charts/utils/xy-chart-utils.js
Due: prettier --write, eslint --fix

feat(dataFormatting): add undefinedAsDash format
  utils/data-formatting.js
Due: prettier --write, eslint --fix

feat(scrollableArea): remove wrapping div
  components/ui/ScrollableArea.js
Due: prettier --write, eslint --fix

feat(Table): add DefinitionListCell and EmptyCell
  components/ui/Table/Table.js
  components/ui/Table/Table.module.scss
  components/ui/Table/cells/DefinitionListCell.js
  components/ui/Table/cells/DefinitionListCell.module.scss
  components/ui/Table/cells/EmptyCell.js
  components/ui/Table/cells/EmptyCell.module.scss
  components/ui/Table/cells/index.js
  components/ui/Table/table-constants.js
Due: prettier --write, stylelint, eslint --fix

feat(BodyRow): remove unused uid
  components/ui/Table/Table.js
  components/ui/Table/rows/BodyRow.js
Due: prettier --write, eslint --fix

feat(gitignore): add OS generated files
  .gitignore
Due: none

feat(LoadingSpinner): Replace with generic coloured gif
  components/ui/loading-spinner.gif
Due: none

feat(button): add more styling variables
  components/ui/Button/Button.js
  components/ui/Button/Button.module.scss
  css/variables/_measurements.scss
  css/variables/components/_button.scss
Due: prettier --write, stylelint, eslint --fix

feat(buttons): adjust variable names
  components/ui/Button/Button.module.scss
  css/variables/components/_button.scss
Due: prettier --write, stylelint

feat(ui): add checkbox component
  components/ui/Checkbox/Checkbox.js
  components/ui/Checkbox/Checkbox.module.scss
  components/ui/Checkbox/Checkbox.stories.js
  components/ui/Checkbox/index.js
  components/ui/index.js
  css/variables/components/_checkbox.scss
  css/variables/components/_import.scss
Due: prettier --write, stylelint, eslint --fix

Path conditions:
  prettier --write: (any of: **/*.{js,json,css,md}) or (any of: **/*.scss)
  prettier --parser mdx --write: any of: **/*.mdx
  stylelint: any of: **/*.scss
  eslint --fix: any of: **/*.js
